csharp/Project/.vs/Project/DesignTimeBuild/.dtbcache.v2
csharp/Project/.vs/Project/v17/.futdcache.v2
csharp/Project/.vs/Project/v17/.suo
csharp/Project/.vs/Project/v17/DocumentLayout.json
csharp/Project/.vs/ProjectEvaluation/project.metadata.v9.bin
csharp/Project/.vs/ProjectEvaluation/project.projects.v9.bin
csharp/Project/.vs/ProjectEvaluation/project.strings.v9.bin
csharp/Project/Project/obj/Debug/net8.0-android/Project.AssemblyInfo.cs
csharp/Project/Project/obj/Debug/net8.0-android/Project.AssemblyInfoInputs.cache
csharp/Project/Project/obj/Debug/net8.0-ios/iossimulator-x64/Project.AssemblyInfo.cs
csharp/Project/Project/obj/Debug/net8.0-ios/iossimulator-x64/Project.AssemblyInfoInputs.cache
csharp/Project/Project/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Project.AssemblyInfo.cs
csharp/Project/Project/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/Project.AssemblyInfoInputs.cache
csharp/Project/Project/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Project.AssemblyInfo.cs
csharp/Project/Project/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Project.AssemblyInfoInputs.cache
